body{
    background-color: darkblue;
}   
input{
    margin-bottom: 18px;   
}
fieldset{
    background-color: rgba(255, 255, 255, 0.466);
    color: white;
    text-align: center;
    width: 200px;
}
button{
    height: 30px;
    border-radius: 5px;
    border-style: outset;
    border-color: grey;
}